.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ededed;
  padding: 3rem;

  .content {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
